@import "variables.scss";

.footer-bottom {
    background-color: $third_color;
    .container {
        background-color: $third_color;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // bottone
    button {
        color: $fourth_color;
        background-color: inherit;
        padding: 15px;
        border: 2px solid $secondary_color;
        font-weight: bolder;
    }

    .socials {
        display: flex;
        align-items: center;

        h3 {
            color: $secondary_color;
        }
        img{
            margin: 0 10px;
        }
    }
}