@import "variables.scss";

header {
    nav {
        ul {
            margin: 0;
            list-style: none;
            display: flex;
            padding-left: 0;
        }

        li {
            a {
                display: inline-block;
                padding: 18px;
                text-decoration: none;
                color: $third-color;
                font-size: 14px;
                font-weight: bolder;
            }
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

    }

    .col-left {
        flex-grow: 1;
    }

    background-color: $fourth_color;

}